.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 24px;
  height: 80px;
  width: 100%;
  padding: 0 24px;
  background: var(--color-bg-primary);
}

.left {
  display: flex;
  align-items: center;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
}

.logo {
  width: 130px;
  height: auto;
}

.searchWrap {
  width: 70%;
  min-width: 420px;
  max-width: 900px;
}
.backButton {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconButton {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}